.header-main {
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 150px;
  .header-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    cursor: pointer;
    h1 {
      font-size: 40px;
      color: #000;
      font-weight: 300;
      text-decoration: overline;
      cursor: pointer;
    }
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    .btr {
      display: none;
      .logout-btn {
        border: none;
        background-color: #000;
        color: #fff;
        padding: 5px 8px;
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;
        &:active {
          text-decoration: line-through;
        }
        &:hover {
          background-color: #2d2d2d;
          transition: 0.3s;
        }
      }
    }
    .burger-menu {
      display: none;
      img {
        width: 35px;
        height: 35px;
        object-fit: cover;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      column-gap: 90px;
      li {
        list-style: none;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        &::after {
          position: absolute;
          content: '';
          width: 0%;
          bottom: 0;
          left: 0;
          height: 2px;
          background-color: #000;
          transition: 0.2s;
        }
        &:hover::after {
          width: 100%;
          transition: 0.2s;
        }
      }
        .logout-btn {
          border: none;
          background-color: #000;
          color: #fff;
          padding: 5px 13px;
          font-size: 16px;
          border-radius: 3px;
          cursor: pointer;
          &:active {
            text-decoration: line-through;
          }
          &:hover {
            background-color: #2d2d2d;
            transition: 0.3s;
          }
        }
    }
  }
}

.menu {
  z-index: 90;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    inset: 0;
    opacity: 0.9;
    background-color: #010911;
    z-index: 95;
  }
  .menu-links {
    position: relative;
    z-index: 96;
    width: 100%;
    text-align: center;
    margin-top: 0;
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      position: relative;
      span {
        position: absolute;
        right: 50px;
        top: -150px;
        z-index: 100;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          transform: rotate(90deg);
        }
        &:active {
            color: #4194c1;
            border-color: #4194c1;
          }
        }
        li {
          list-style: none;
          color: #fff;
          font-size: 30px;
          &:hover {
              color: #4194c1;
          }
        }
    }
  }
}

@media(max-width : 1121px){
  .header-main {
    .header-left {
      h1 {
        font-size: 30px;
      }
    }
    .header-right {
      ul {
        li {
          font-size: 18px;
        }
      }
    }
  }
}
@media(max-width : 1031px){
  .header-main {
    .header-left {
      h1 {
        font-size: 30px;
      }
    }
    .header-right {
      ul {
        column-gap: 40px;
        align-items: center;
        li {
          font-size: 18px;
        }
      }
    }
  }
}
@media(max-width : 890px){
  .header-main {
    padding: 10px 50px;
    .header-left {
      h1 {
        font-size: 30px;
      }
    }
    .header-right {
      ul {
        column-gap: 40px;
        align-items: center;
        li {
          font-size: 18px;
        }
      }
    }
  }
}
@media(max-width : 682px){
  .header-main {
    padding: 10px 50px;
    .header-left {
      h1 {
        font-size: 20px;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
    .header-right {
      ul {
        column-gap: 40px;
        align-items: center;
        li {
          font-size: 18px;
        }
      }
    }
  }
}
@media(max-width : 620px){
  .header-main {
    padding: 10px 50px;
    .header-left {
      h1 {
        font-size: 20px;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
    .header-right {
      .btr {
        display: flex;
      }
      .burger-menu {
        display: flex;
      }
      ul {
        display: none;
        column-gap: 20px;
        align-items: center;
        li {
          font-size: 18px;
          display: none;
        }
      }
    }
  }
}
@media(max-width : 411px){
  .header-main {
    padding: 10px 20px;
    .header-left {
      h1 {
        font-size: 20px;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
    .header-right {
      .burger-menu {
        display: flex;
      }
      ul {
        display: none;
        column-gap: 20px;
        align-items: center;
        li {
          font-size: 18px;
          display: none;
        }
      }
    }
  }
}