<div class="header-main">
  <div class="header-left"  [routerLink]="'/'">
    <h1>PROJECT 4</h1>
    <img [src]="'/assets/images/decore2.png'">
  </div>
  <div class="header-right">
    <ul>
      <li>Market</li>
      <li>Stats</li>
      <li>About</li>
      <ng-container *ngIf="isAuthenticated()">
        <li [routerLink]="'/cart'">Cart</li>
      </ng-container>
      <ng-container *ngIf="isAuthenticated()">
        <button (click)="signout()" class="logout-btn">Logout</button>
      </ng-container>
    </ul>
  </div>
</div>
