<app-header></app-header>
<div class="cart-page-main">
  <h1 style="color: #fff; font-size: 40px;
   font-weight: 100;">Cart List</h1>
  <div class="containers-list"  *ngFor="let item of getItems()">
    <div class="container">
      <div class="title">
        <h4>{{ item.title }}</h4>
      </div>
      <div class="price">
        <p>{{ item.price }}$</p>
      </div>
    </div>
  </div>
  <div  *ngIf="sum() > 0" class="total">
    <h3>Total amount</h3>
    <p> {{sum()}}$ </p>
    <div class="buy">
      <button>Buy Now</button>
    </div>
  </div>
</div>
<app-footer></app-footer>