<div class="sale-product-main">
  <div class="sale-left">
    <div class="title">
      <h1>Marvel's Spider-Man 2</h1>
      <p>Sony Interactive Entertainment</p>
      <span>Avaiable on PS5</span>
    </div>
    <div class="price">
      <h3>$79.99</h3>
    </div>
    <div class="btns">
      <button>Pre-Order</button>
    </div>
    <div class="date">
      <p>Release date : 10/20/2023</p>
    </div>
    <div class="player">
      <p>Single player</p>
    </div>
  </div>
  <div class="sale-right"></div>
</div>
