<app-header></app-header>
<div class="about-main">
  <h1>About website</h1>
  <p>
    On this website you can purchase computer games.
    You can register your account then log in and log out
    anytime you want.  Also you'll see a 'navbar' which 
    can help you to search the product by it's price, name 
    or year of release. When you click on the product name 
    you will get the full information about the game. If you 
    want to purchase a product you will need to log in first 
    then search for the game and add it to cart so you can pay.
    Web is full responsive The idea and design of the site is 
    entirely my own</p>
</div>
<app-footer></app-footer>