.about-main {
  width: 100%;
  min-height: 100vh;
  background-color: #161616;
  padding: 50px 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
  }
  p {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 100;
    width: 600px;
    text-align: left;
  }
}
@media (max-width : 660px) {
  .about-main {
    padding: 50px 50px;
    p {
      font-size: 18px;
      width: 550px;
    }
  }
}
@media (max-width : 610px) {
  .about-main {
    padding: 50px 50px;
    p {
      font-size: 18px;
      width: 500px;
    }
  }
}
@media (max-width : 560px) {
  .about-main {
    padding: 50px 50px;
    p {
      font-size: 18px;
      width: 450px;
    }
  }
}
@media (max-width : 500px) {
  .about-main {
    padding: 50px 50px;
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 17px;
      width: 400px;
    }
  }
}
@media (max-width : 445px) {
  .about-main {
    padding: 50px 50px;
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 16px;
      width: 350px;
    }
  }
}
@media (max-width : 436px) {
  .about-main {
    padding: 50px 50px;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
      width: 350px;
      line-height: 25px;
    }
  }
}
@media (max-width : 396px) {
  .about-main {
    padding: 50px 50px;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
      width: 330px;
      line-height: 25px;
    }
  }
}