<div class="contact-main">
  <div class="contact-title">
    <h1>Contact</h1>
  </div>
  <div class="contact-section">
    <div class="social">
      <div class="social-title">
        <img [src]="'/assets/images/gmail.png'">
        <h3>Gmail</h3>
      </div>
      <div class="social-link">
        <p>mindiashvilife@gmail.com</p>
      </div>
    </div>

    <div class="social">
      <div class="social-title">
        <img [src]="'/assets/images/gitt.png'">
        <h3>Github</h3>
      </div>
      <div class="social-link">
        <a href="https://github.com/MindiashviliGiorgi" target="_blank">Github URL</a>
      </div>
    </div>

    <div class="social">
      <div class="social-title">
        <img [src]="'/assets/images/in.png'">
        <h3>Linkedin</h3>
      </div>
      <div class="social-link">
        <a target="_blank" href="https://www.linkedin.com/in/giorgi-mindiashvili-287309261/">Linkedin URL</a>
      </div>
    </div>
  </div>
</div>
